:root {
  --bk: #000000;
  --wh: #ffffff;
  --b1: #dcf8fd;
  --b2: #ade8f4;
  --b3: #90e0ef;
  --b4: #48cae4;
  --b5: #E52127;
  --b6: #E52127;
  --b7: #640D14;
  --b8: #4e0514;
  --b9: #03045e;
  --bg: #303539;
  --bg2: #242627;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  background-color: #242627;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23191b1c' fill-opacity='0.51' fill-rule='evenodd'/%3E%3C/svg%3E");
}

::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: var(--bg2); /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: var(--b6); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--bg2); /* creates padding around scroll thumb */
}

/*custom code for select drop down*/
.oselect {
  background: var(--wh);
  border: 1px solid var(--bk);
  border-radius: 4px;
  color: var(--bk);
  padding: 1px;
  outline: none;
  margin-left: 0.3em;
}
.oselect:hover {
  border: 1px solid var(--b6);
  box-shadow: 0px 0px 3px var(--b6);
}

.pageTitle {
  color: var(--wh);
  background-color: var(--b6);
  border: 2px solid var(--b6);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 0.3em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1100px;
  padding: 10px;
  user-select: none;
}

.pageTitle:hover {
  color: var(--b6);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--b6);
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.content-column {
  background-color: #303539;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23727272' fill-opacity='0.11' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  border: 2px var(--b6) solid;
  border-radius: 0px 0px 0px 0px;
  color: var(--bl);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 1em;
  backdrop-filter: blur(3px);
  width: 75%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.keyBox {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--bk);
  border-radius: 4px;
  background-color: var(--bg2);
  color: var(--wh);
}

.keyBox:focus {
  border: 2px solid var(--b6);
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}



.textbox {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--bk);
  border-radius: 4px;
  color: var(--wh);
  background-color: var(--bg2);
}

.textbox:focus {
  border: 2px solid var(--b6);
  background-color: var(--bg2);
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}

.keyedAlphabetBox {
  font-size: 0.8rem;
  background-color: #800e1423;
  color: var(--bk);
  padding: 6px;
  word-break: break-all;
  overflow-wrap: break-word;
  margin-top: 8px;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: center;
}

.button1 {
  display: inline-block;
  padding: 0.35em 1em;
  border: 1px solid rgb(99, 99, 99);
  background-color: rgb(99, 99, 99);
  margin: 0 0.3em 0.3em 0;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--wh);
  text-align: center;
  transition: all 0.2s;
  user-select: none;
}

.button1:hover {
  border-color: rgb(73, 73, 73);
  background-color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.2s;
}

.button2 {
  display: inline-block;
  padding: 0.35em 1em;
  border: 1px solid var(--b6);
  margin: 0 0.3em 0.3em 0;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--wh);
  text-align: center;
  user-select: none;
  background-color: var(--b6);
}

.button2:hover {
  color: var(--bl);
  background-color: var(--wh);
  border: 1px solid var(--b7);
  cursor: pointer;
}

.button3 {
  display: inline-block;
  padding: 0.35em 1em;
  border: 1px solid #326771;
  margin: 0 0.3em 0.3em 0;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--wh);
  text-align: center;
  user-select: none;
  background-color: #326771;
}


table {
  border-spacing: 0px;
  color: #000000;
  background-color: var(--wh);
  font-size: medium;
  border-collapse: collapse;
  width: 100%;
  margin-top: -0.6em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

td {
  border: 1px solid var(--bk);
  padding: 5px;
  text-align: center;
  height: 3vw;
  width: 3vw;
}

td:hover:not(.tablecell) {
  cursor: pointer;
  background-color: #800e143a;
  color: var(--b8);
}

.tablecell {
  background-color: #dddddd;
  color: var(--bk);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 950px) {
  table {
    font-size: small;
  }
  .column {
    width: 100%;
  }
  .container {
    width: 96%;
  }
  td {
    height: 6vw;
    width: 3vw;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 2em;
  }
  
}

@media only screen and (max-width: 600px) {
  table {
    font-size: smaller;
  }
  .button1 {
    font-size: smaller;
    padding: 0.35em 0.7em;
  }
  .button2 {
    font-size: smaller;
    padding: 0.35em 0.5em;
  }
  .pageTitle {
    font-weight: 600;
    font-size: 1.8em;
  }
  .content-column {
    width: 90%;
  }
  .columnTitle{
    width: 90% !important;
  }
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: var(--bk);
  padding-left: 0.5rem;
}

.checkbox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--bk);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--wh);
  cursor: pointer;
  margin: 0em;
}

.checkbox > input:checked {
  border: 1px solid var(--b6);
  background-color: var(--wh);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}
.checkbox > input:hover,
span.hover {
  border: 1px solid var(--b6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}
.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: var(--b6);
  position: absolute;
  left: 0.3rem;
  top: 0rem;
}
.checkbox > input:active {
  border: 1px solid var(--b6);
}

.columnTitle {
  background-color: var(--b6);
  border-radius: 0px 0px 0px 0px;
  color: var(--wh);
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  width: 75%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.boxTitle {
  color: var(--b6);
  font-weight: bold;
  font-size: 1.2em;
}

.note {
  font-size: 0.9em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
}

.descriptor {
  color: var(--b8);
}

hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* drop down info (start)*/
.collapsible {
  background-color: #dddddd;
  color: var(--bk);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: left;
  outline: none;
  font-size: small;
}
.active {
  color: var(--bk);
  border: 1px solid #999;
  border-radius: 4px 4px 0px 0px;
  box-shadow: inset 0px 3px 0px var(--b5);
}
.collapsible:hover {
  border: 1px solid #999;
  box-shadow: inset 0px 3px 0px var(--b5);
}
.collapsible:after {
  content: '\002B';
  color: var(--bk);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: '\2212';
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--wh);
  border-radius: 0px 0px 4px 4px;
  font-size: small;
}
/* drop down info (end)*/

.themeButton {
  color: white;
  background-color: var(--b6);
  border-radius: 0px 0px 4px 4px;
  margin-top: 0em;
  float: right;
  text-align: center;
  padding: 0.3em 0.8em;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.themeButton:hover {
  background-color: var(--b7);
}

/* settings form */
.formLabel {
  font-weight: bold;
  margin-bottom: 0.4em;
  margin-top: 0em;
  color: var(--wh);
}
.formLabelSmall {
  font-size: 0.7em;
  margin-top: -0.2em;
  margin-bottom: 0em;
  padding-left: 0.5em;
  padding-bottom: 0em;
  color: rgba(255, 255, 255, 0.4);
}

.singleGroupSize {
  background: var(--wh);
  border: 1px solid var(--bk);
  border-radius: 4px;
  color: var(--bk);
  padding: 1px;
  outline: none;
  margin-left: 0.3em;
  width: 100%;
}
.singleGroupSize select:hover {
  border: 1px solid var(--b6);
  box-shadow: 0px 0px 3px var(--b6);
}

.sTextbox {
  width: 100%;
  padding: 9px 12px;
  margin: 0em;
  box-sizing: border-box;
  border: 1px solid var(--bk);
  border-radius: 4px;
  color: var(--bk);
  background-color: var(--wh);
  font-size: small;
}
.sTextbox:focus {
  border: 1px solid var(--b6);
  background-color: var(--wh);
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}

.sSelect {
  background: var(--bg2);
  border: 1px solid var(--bk);
  border-radius: 4px;
  color: var(--wh);
  padding: 4px 12px;
  outline: none;
  width: 42%;
  font-size: small;
  margin-top: .3em;
  margin-bottom: .3em;
}
.sSelect:hover {
  border: 1px solid var(--b6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px #800e143a;
}

.settingsBox{
  background: rgb(30,34,36);
  background: -moz-linear-gradient(180deg, rgba(30,34,36,1) 0%, rgba(16,18,20,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(30,34,36,1) 0%, rgba(16,18,20,1) 100%);
  background: linear-gradient(180deg, rgba(30,34,36,1) 0%, rgba(16,18,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2224",endColorstr="#101214",GradientType=1);
  display: none; 
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: 4px; 
  border: 1px solid #000; 
  padding: 1em; 
}